# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Compiled Python files
*.pyc
*.pyo

# Local development settings
settings_local.py

# IDE-specific files (PyCharm)
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
*.pydevproject
.idea_modules/
*.komodoproject
.project
.pydevproject
.vscode/
.idea

# Virtual environment (optional if you have a separate virtualenv directory)
venv/
.env
/assets/*
