
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #212121;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.white-form-text {
    color: #f0f0f0;
    font-size: 12px;
}

#menu-button:hover .menu-button-line:nth-child(1) {
    top: 0;
}
#menu-button:hover .menu-button-line:nth-child(3) {
    bottom: 0;
}
.menu-button-line:nth-child(1) {
    position: absolute;
    top: 3px;
}
.menu-button-line:nth-child(2) {
    position: absolute;
    top: 14px;
}
.menu-button-line:nth-child(3) {
    position: absolute;
    bottom: 2px;
}
.menu-button-line {
    transition: all ease 0.2s;
    background-color: white;
    width: 30px;
    height: 2px;
}

h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.helptext {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.poster {
    width: 30vw;
    height: calc(30vw * 11.5/9);
    background-image: url('../img/poster.png');
    background-size: cover;
    background-color: #f1f1f1;
}

form {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    flex-direction: column;
}

form p {
    display: flex;
    flex-direction: column;
}

form p label {
    color: #f0f0f0;
    font-size: 12px;
}

form p input {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

form ul {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
}

/* Dark link styles */
a.dark-link {
    color: #fff; /* Text color for the link */
    background-color: #333; /* Background color for the link */
    padding: 10px 20px; /* Padding around the link text */
    border-radius: 5px; /* Rounded corners for the link */
    display: inline-block; /* Display as a block-level element */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Hover styles (optional) */
a.dark-link:hover {
    background-color: #555; /* Darken the background color on hover */
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.checkin-details {
    background-color: #050505;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 650px) {
    .text-block {
        width: 100%;
    }
    #second-block p {
        font-size: 12px;
    }
    .gallery-widget {
        display: none;
    }
    .poster {
        width: 100vw;
        height: calc(100vw * 11.5/9);
    }
}
