<!-- base.html -->
{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Asia days{% endblock %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elements.css' %}">
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/booking.js' %}"></script>
    {% block additional_scripts %}{% endblock %}
</head>
<body>
	<div id="main">
		{% block content %}{% endblock %}
	</div>
	<div id='topLine'>
		<div id="menu-button" onclick="pushMenu()">
			<div class="menu-button-line"></div>
			<div class="menu-button-line"></div>
			<div class="menu-button-line"></div>
		</div>
		<a id="logo" href="{% url 'landing_page' %}" style="background-image: url({% static 'img/logo_header.png' %});" onclick="logoButton()">
		</a>
		<div id="playground-button" style="background-image: url({% static '/img/logo_small.png' %});"></div>
	</div>
    <footer>
        <p>Contact us:</p>
        <div class="social-block">
            <a href="https://www.instagram.com/asiadays/" target="_blank">
                <div class="social instagram" style="background-image: url({% static 'img/instagram.png' %});"></div>
            </a>
            <div class="social"></div>
            <a href="mailto:chingiskarbushov@live.ru" target="_blank">
                <div class="social " style="background-image: url({% static 'img/email.png' %});"></div>
            </a>
        </div>
    </footer>
    <div class="loading-container">
        <div class="loading-circle"></div>
    </div>
</body>
</html>