<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="schemes-container">
    <img class="lower-level" src="{% static '/img/lower_level.jpg' %}">
    <img class="upper-level" src="{% static '/img/upper_level.jpg' %}">
    </div>


    <form action="/booking/create-checkout-session/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p style="color: #f0f0f0">You will see your ticket on the website after payment, and it will be sent to your email</p>
        <p style="color: #f0f0f0">Билет будет доступен Вам на сайте после оплаты и будет отправлен на ваш email</p>
        <div class="final-price"></div>
        <button type="submit" id="checkout-button">Checkout / Перейти к оплате</button>
    </form>
{% endblock %}