<!-- home.html -->
{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block content %}
{#    <button id="toggle-button">Show Restaurant Map</button>#}
    {% if success %}
    {% if booking.paid %}
    <div class="booking-info-container">
        <h2>Booking Information</h2>
        <p>Hi {{ booking.fullname }}! Here's your booking information:</p>
        <p>Date: 8/18/23</p>
        <p>Time: 9:00 PM</p>
        {% if table %}
        <p>Table: {{ table }}</p>
        {% endif %}
        <p>Guests number: {{ guests_number }}</p>
        <!-- Add more booking information here -->
    </div>
    <img src="{% url 'generate_qr_code' booking.pk %}">
    {% else %}
    <div class="schemes-container">
        <img class="lower-level" src="{% static '/img/lower_level.jpg' %}">
        <img class="upper-level" src="{% static '/img/upper_level.jpg' %}">
    </div>
    <p style="color: #f0f0f0">You need to pay for this booking, otherwise it will be deleted at {{ pay_by|localtime }}</p>
    <form action="/booking/create-checkout-session/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p style="color: #f0f0f0">You will see your ticket on the website after payment, and it will be sent to your email</p>
        <p style="color: #f0f0f0">Билет Вам будет доступен на сайте после оплаты и придет на ваш email</p>
        <div class="final-price"></div>
        <button type="submit" class="booking-submit-table" value="table">Checkout / Перейти к оплате</button>
    </form>
        {% endif %}
    {% else %}
    <p style="color: #f0f0f0">The booking has expired or does not exist.</p>
    {% endif %}
{% endblock %}